name: CI Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2' # Specify your required PHP version
          extensions: mbstring, pdo_mysql # Install necessary extensions in a comma-separated format
          coverage: pcov # Enable code coverage driver like PCOV or Xdebug

      - name: Echo Status
        run: echo "Hello, CI Process Successful"